- ansible.builtin.apt: update_cache=yes cache_valid_time=86400
  name: setup-Debian | Update apt cache.
- ansible.builtin.set_fact:
    ruby_rubygems_package_name: rubygems-integration
  name: setup-Debian | Set rubygems package name for Ubuntu 14.04.
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'trusty'
- ansible.builtin.apt:
    name: '{{ ruby_packages }}'
    state: present
  name: setup-Debian | Install ruby and other required dependencies.
- ansible.builtin.apt:
    name: '{{ ruby_rubygems_package_name }}'
    state: present
  name: setup-Debian | Install rubygems.
